#
# You can add personal rules in your file .git/info/exclude
.deps
.libs
*.lo
*.la
/*.tgz
/*.deb
/plugins/perl/common/*.c
/plugins/perl/common/*.o
/description-pak
Makefile
/dbus-bindings.c
/dbus-client-binding.c
/dbus-client-binding.h
/dbus-signals.c
/dbus-types.c
/dbus-types.h
/marshallers.c
/marshallers.h
/purple-client-bindings.c
/purple-client-bindings.h
/purple.service
/example/nullclient
/example/nullclient.o
/gconf/purple.schemas
/plugins/dbus-example-bindings.c
/plugins/perl/common/Makefile.PL
/plugins/perl/common/Purple.bs
/plugins/perl/common/blib/
/plugins/perl/common/pm_to_blib
/purple-2-uninstalled.pc
/purple-2.pc
/purple-client-example
/purple-client-example.o
/purple-uninstalled.pc
/purple.pc
